# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.json
*.pkl

# Data (большие файлы)
data/videos/
data/audio/
data/frames/
data/chroma_db/

# Модели
*.bin
*.pt
*.onnx

# Системное
.env
.DS_Store
Thumbs.db




!data/shot_boundaries_schema.json
